.page-top {
    padding: 20px 20% 0 20%;
    margin: 0;
}

.container p {
    font-size: 14px;
}

body {
    margin: 0 150px;
}

body i {
    color: #009BA7;
}

div.col {
    padding: 50px 20px;
}

.with-icons .row {
    margin: 10px 0;
}

.with-icons .image-icon {
    border: #009BA7 1px solid;
    border-radius: 50%;
    width: 96px;
    height: 96px;
    text-align: center;
    padding-top: 23px;
}


.info-block-centered {
    text-align: center;
}

.with-logo {
    padding: 20px 15px;
}

p img  {
    margin-right: 10px;
}