.payAndDelivery-top {
    padding: 20px;
    margin: 20px;
}

.row:not(.top-row),
.top-row .with-shadow {
    -webkit-box-shadow: 0px 0px 60px 1px rgba(183, 189, 193, 0.2);
    -moz-box-shadow: 0px 0px 60px 1px rgba(183, 189, 193, 0.2);
    box-shadow: 0px 0px 60px 1px rgba(183, 189, 193, 0.2);
    margin: 5px 10px;
    padding: 10px 20px;
}

.top-row img {
    width: 60px;
}

.col p {
    font-weight: 200;
}