.payAndDelivery-top {
    padding: 20px 20%;
    margin: 20px;
}

.row:not(.top-row),
.top-row .with-shadow {
    -webkit-box-shadow: 0px 0px 60px 1px rgba(183, 189, 193, 0.2);
    -moz-box-shadow: 0px 0px 60px 1px rgba(183, 189, 193, 0.2);
    box-shadow: 0px 0px 60px 1px rgba(183, 189, 193, 0.2);
    margin: 10px 5px;
    padding: 20px 10px;
}

.top-row img {
    width: 60px;
}

.col p {
    font-weight: 200;
}

.col i {
    font-style: normal !important;
    color: #009BA7;
}

.with-icons i {
    border: #009BA7 1px solid;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    text-align: center;
    padding-top: 23px;
    font-size: 3rem;
}

.mobile-operators {
    margin: 10px 0;
}

.mobile-operators img {
    width: 200px;
    padding: 5px 10px;
    margin: 0 15px;
    border: #F1F1F1 1px solid;
}