.row:not(.top-row),
.top-row .with-shadow {
    margin: 10px 5px;
    padding: 20px 10px;
}

.top-row img {
    width: 60px;
}

p {
    font-size: 14px;
}

.col i {
    font-style: normal !important;
    color: #009BA7;
}

.with-icons {
    border-radius: 50%;
    border: #c5e4f9 1px solid;
    width: 100px;
    height: 100px;
}

.with-icons svg {
    text-align: center;
    height: 70px;
    width: 70px;
    padding: 25px 0 0 15px;
}

.mobile-operators {
    margin: 10px 0;
}

.mobile-operators img {
    width: 200px;
    padding: 5px 10px;
    margin: 0 15px;
    border: #F1F1F1 1px solid;
}