.image-section {
    margin-top: 100px;
}

.image-section .main-image {
    height: 300px;
    margin-top: 20px;
}

.image-section .col {
    padding: 0;
}

.image-section .list-item-image {
    margin-bottom: 20px;
    text-align: center;
}

.image-section button.list-item-image {
    margin-left: 20px;
}

.image-section img.list-item-image {
    height: 70px;
}

.image-section img.list-item-image:not(.active) {
    opacity: 0.5;
}

.product-page-section {
    padding: 0 8%;
}

.product-page-price-1col {
    display: flex;
}

.product-page-price-1col small {
    padding: 2px 5px;
}

p.muted-text {
    color: #cccccc;
}

.product-page-price {
    padding: 15px 5px;
    background-color: #FCFCFC;
}

.product-page-price h4 {
    font-size: 32px;
    margin-bottom: 0px;
}

.product-page-price p {
    font-size: 12px;
    margin-bottom: 0px;
}

.product-page-price del {
    text-decoration-color: #D35555;
}

.product-page-price p small {
    background-color: #006A81;
    border-radius: 10px;
    color: white;

    text-decoration: none;
}

.product-page-price div {
    margin-left: 10px;
}

.product-page-price button {
    width: 100%;
    height: 45px;
    font-size: 14px;
}

.product-info-section {
    padding-top: 15px;
}

.product-info-section i {
    color: #006A81;
}

.order-details {
    border: 1px solid #F1F1F1;
}

.product-page-section-row {
    margin-bottom: 30px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 60px 1px rgba(183, 189, 193, 0.2);
    -moz-box-shadow: 0px 0px 60px 1px rgba(183, 189, 193, 0.2);
    box-shadow: 0px 0px 60px 1px rgba(183, 189, 193, 0.2);
}

.product-page-section p {
    font-size: 12px;
}

.product-page-section-row .with-border-right {
    border-right: #cccccc 1px solid;
}

.product-page-section-row.description p {
    padding: 10px;
}

p.with-fill {
    background-color: #fcfcfc;
}

img.basket-icon {
    filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);
}

img.icon {
    height: 18px;
    padding: 0px 0px 3px 0px;
}